<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{casa.title}}">
  <ion-content class="padding">
    <h3>{{casa.title}}</h3>
    <img ng-src="{{casa.img_high}}" style="width: 128px; height: 128px">
    <h4>Descripción</h4>
    <p>
      {{casa.description}}
    </p>
  </ion-content>
</ion-view>
