<ion-view view-title="Casas">
  <ion-content class="padding">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Busca..." id="homeFilter">
      </label>
    </div>
    <div class="list">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-thumbnail-left" ng-repeat="casa in casas" type="item-text-wrap" href="#/tab/casas/{{casa.id}}">
          <img ng-src="{{casa.face}}">
          <h2>{{casa.name}}</h2>
          <p>{{casa.lastText}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
